<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MY MEAL'S</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="logo"> yammi
        <p class="topFavorite">💗</p>
    </div>
    <div class="search">
        <input class="meal-input" placeholder="etc pasta..." type="text">
        <input class="meal-button" type="button" value="search">
    </div>

    <span class="favorite">
        <p>my favorite : </p>
    </span>
    <div id="container" dir="rtl">
        <div id="main">
            <div>
                <img src="" class="header-img">
                <h2 class="header-h2"></h2>
                <div class="about-recepi"></div>
                <div class="ingredient">
                    <ul class="ing-ul">
                        
                    </ul>
                </div>
                <div class="intrudoctions"></div>
                <div class="recepi-source"></div>
                <iframe src="#" class="ifarme none"></iframe>
            </div>
        </div>

        <div class="mealsContainer">
            <div class="meals">
                <ul class="meals--ul">
                </ul>
            </div>
        </div>
    </div>
    </div>

    <script type="module" src="../models/app.js"></script>
</body>

</html>