<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MY MEAL'S</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="logo"> yammi
        <div class="favorite-container">
            <div class="topFavorite">💗
                <ul class="favoritedItems none">
                    <p>my favorite : </p>

                </ul>
            </div>
        </div>
    </div>

    <div class="search">
        <input class="meal-input" placeholder="etc pasta..." type="text" value="soup">
        <input class="meal-button" type="button" value="search">
    </div>

    <span class="favorite">

    </span>
    <div id="container" dir="rtl">
        <div id="main">
            <img src="#" class="header-img none">
            <h2 class="header-h2 none"></h2>
            <div class="about-recepi"></div>
            <div class="ingredient none">
                <ul class="ing-ul">

                </ul>
            </div>
            <div class="intrudoctions none"></div>
            <div class="recepi-source"></div>
            <a href="#" target="_blank" class="go-to-ouner none">go to the recipes ouner website</a>
            <img src="https://cdn.glitch.com/f75e1391-bd87-400c-8326-82fc181631f3%2Fheart.png?v=1580808629344"
                class="like-img none">
            <iframe src="#" class="ifarme none"></iframe>
        </div>

        <div class="mealsContainer">
            <div class="meals none">
                <ul class="meals--ul">
                </ul>
            </div>
        </div>
    </div>
    </div>

    <script type="module" src="../models/app.js"></script>
</body>

</html>