body {
    margin: 0;
}

h1 {
    font-family: "League Script", cursive;
    /* font-family: "Dawning of a New Day", cursive; */
    text-align: right;
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    letter-spacing: 10px;
    color: white;
    animation: jackInTheBox 1.5s ease-out 0.75s;
}

@keyframes jackInTheBox {
    from {
        opacity: 0;
        transform: scale(0.1) rotate(30deg);
        transform-origin: center bottom;
    }
    50% {
        transform: rotate(-10deg);
    }
    70% {
        transform: rotate(3deg);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em;
    }
}

.main-div {
    background: url("../food-copy.jpg");
    /*  */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*  */
    height: 21rem;
    opacity: 0.8;
    position: relative;
}
.serch-container {
    width: 40%;
    height: 30px;
    margin: auto;
    font-size: 17px;
    line-height: 18px;
    text-indent: 10px;
    color: #575756;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #ffffff;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.serch-container:hover,
.serch-container:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    background-position: 100% center;
}

.meal-input {
    width: 80%;
    height: 100%;
    padding: 2px;
    background-color: transparent;
    border: 0 solid transparent;
    float: left;
    margin-left: 12px;
    color: white;
    font-size: inherit;
}

.meal-input::placeholder {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 15px;
}

.meal-input:focus,
.meal-input:hover {
    outline: none;
}
.meal-button {
    margin-top: 2px;
    height: 100px;
    white-space: nowrap;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='white' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none' /%3E%3C/svg%3E");
    height: 27px;
    width: 27px;
    background-color: transparent;
    border: 1px solid transparent;
    float: right;
    outline: none;
}

.meal-button:active {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='rgba(255, 255, 255, 0.418)' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none' /%3E%3C/svg%3E");
    outline: none;
}

.logo {
    text-align: center;
}

.search {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 4rem;
    color: rgba(255, 255, 255, 0.418);
}

.favorite-ul-container {
    position: sticky;
    top: 25px;
    max-width: fit-content;
    background-color: rgba(0, 0, 0, 0.342);
    display: inline-block;
}

.favorite-ul-container:hover .favoritedItems {
    display: block;
}

.favoritedItems {
    max-width: 9rem;
}

.fav-img {
    width: 6rem;
    border-radius: 50%;
    pointer-events: none;
}

.meals {
    position: relative;
    margin: auto;
    max-width: 85%;
    top: 40px;
    min-height: 250px;
    min-width: 90%;
    border: 5px solid rgba(41, 41, 41, 0.815);
}

.header-img {
    display: inline-block;
    width: 32rem;
    margin: 0 auto;
    margin-top: 3.5rem;
    margin-bottom: 4.6rem;
    outline: 3px solid white;
    outline-offset: -14px;
}
.iframe-container {
    max-width: fit-content;
    margin: auto;
    margin-top: 1.5rem;
    display: block;
    text-align: center;
    text-align: justify;
}

.ifarme {
    box-sizing: border-box;
    margin: 2rem;
    width: 40rem;
    height: 20rem;
}
.sharing-div {
    transition: left 0.3s;
}

.sharing-div:hover {
    left: 25px;
}

.like-img:active {
    width: 3rem;
    transition: 40ms ease-in-out;
}

.go-to-ouner {
    margin-top: 2.5rem;
}

.main {
    margin-bottom: 3rem;
}

.meals--ul {
    text-align: center;
}

.mealsUlInDiv {
    display: inline-block;
    text-align: center;
    width: 18rem;
    margin: 1rem;
}

.li-img {
    width: 18rem;
    pointer-events: none;
}

.random-recipes-container {
    text-align: center;
}

.inner-random-recipe {
    max-width: 18rem;
    display: inline-block;
    margin: 3rem;
    text-align: center;
}

.inner-random-recipe:active {
    border: 5px solid rgb(255, 224, 137);
    transition: all 200ms ease-in;
}

.inner-random-recipe > * {
    text-align: center;
    pointer-events: none;
}

.place-holder {
    width: 18rem;
    height: 18rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.random-recipe-img {
    width: 18rem;
    transition: opacity 0.5s;
}

.inner-random-recipe:hover > img {
    opacity: 0.7;
}

.placeholdertext {
    height: 0px;
    z-index: 1;
    height: fit-content;
    display: inline-block;
}

.let {
    position: relative;
    top: 0.63em;
    display: inline-block;
    transform: rotateX(-90deg);
}

.let1 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.2s;
}

.let2 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.3s;
}

.let3 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.4s;
}

.let4 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.5s;
}

.let5 {
    animation: drop 1.2s ease-in-out infinite;
    animation-delay: 0.6s;
}

.random-recipe-p {
    font-family: "Gotu", sans-serif;
    font-size: 20px;
    word-break: nowrap;
    border-left: 1px solid rgba(255, 166, 0, 0.39);
    border-right: 1px solid rgba(255, 166, 0, 0.39);
    border-bottom: 1px solid rgba(255, 166, 0, 0.39);
    box-sizing: border-box;
    padding-bottom: 20px;
}

.heart > img {
    padding-left: 25px;
    height: 25px;
}

.random-recipes-header {
    padding: 30px;
    margin-top: 50px;
}

.seperd-line {
    margin-top: 40px;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(255, 166, 0, 0.678), transparent);
    margin-bottom: 35px;
}

h4 {
    text-align: left;
    display: block;
}

.container-image-main {
    position: relative;
    text-align: center;
}
.header-h2 {
    text-align: center;
    display: inline-block;
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 30px;
    right: 40%;
    left: 40%;
    top: 3.8rem;
    background-color: rgba(0, 0, 0, 0.418);
}
.ing-ul {
    margin: 0px;
    min-width: 300px;
    max-width: 400px;
    float: left;
    margin: 0 30px 0 10px;
    padding-right: 20px;
}

.ing-ul > li {
    font-size: 20px;
    font-family: "Gotu", sans-serif;
    margin-bottom: 20px;
    list-style-type: none;
}

.ing-ul > li:nth-child(even) {
    background: rgba(255, 166, 0, 0.199);
}
.intrudoctions {
    min-height: 37rem;
    font-size: 17px;
    font-family: "Gotu", sans-serif;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    line-height: 25px;
    max-width: 800px;
    padding: 0 12px 10px;
    text-align: justify;
    text-justify: inter-word;
}

.intudoctions-h5 {
    max-width: fit-content;
}

.intudoctions-h5 > p {
    font-family: "Architects Daughter", cursive;
    text-align: left;
    font-size: 30px;
    margin-bottom: 10px;
    max-width: 800px;
    color: rgba(255, 166, 0, 0.678);
}

.pdfButton {
    margin: 20px;
}

.container-ul {
    display: flex;
    flex-direction: column;
    float: left;
    border-right: 3px solid rgba(255, 166, 0, 0.678);
    border-image-slice: 1;
    padding-right: 2rem;
    margin-right: 1rem;
}

.container-ul > p {
    margin-right: 50px;
    display: inline;
    font-size: 30px;
    font-family: "Architects Daughter", cursive;
    margin-top: 0;
    color: rgba(255, 166, 0, 0.678);
}

.none {
    display: none;
}

.sharing-div {
    position: absolute;
    top: 145px;
    left: 20px;
    width: 100px;
    height: 300px;
    /* background-color: rgba(255, 68, 0, 0.199); */
    float: left;
}

.pdf-svg,
.go-to-svg,
.like-svg,
.gmail-svg {
    display: block;
    margin: auto;
    cursor: pointer;
}

.pdf-svg:active,
.go-to-svg:active,
.like-svg:active,
.gmail-svg:active {
    background-color: rgb(228, 181, 53);
}

.pdf-svg:hover,
.go-to-svg:hover,
.like-svg:hover,
.gmail-svg:hover {
    opacity: 0.7;
    top: 3.78em;
}

path {
    pointer-events: none;
}

.seperd-line-top {
    margin-bottom: 0px;
}

/* flip card animations */
/* https://jsbin.com/pekevumowo/edit?html,css,output */
/* #ffa60063 */
