.logo {
  text-align: center;
}

.search {
  text-align: center;
  margin-top: 45px;
}

.topFavorite {
  float: left;
}

.none {
  width: 0;
  height: 0;
  border: 0;
  border: none;
}

.mealsContainer {
  position: relative;
}

.meals {
  position: absolute;
  margin: 0 auto;
  top: 40px;
  display: inline-block;
  min-height: 250px;
  min-width: 700px;
  border: 5px solid rgba(41, 41, 41, 0.815);
}

.ingredient {
  padding: 20px;
}

.none {
  display: none;
}

/* .topFavorite {
  display: table-column;

} */

.topFavorite:hover {
  display: block;
  z-index: 1;
}

.favoritedItems:hover {
  display: block;
}

.like-img {
  width: 30px;
}

.like-img:hover {
  width: 33px;
}

.fav-img {
  width: 75px;
  border-radius: 50%;
}

header {
  text-align: center;
}

.header-img {
  width: 350px;
}
.meals-cliked {
  top: 300px;
}
/* 300 */

.li-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
